/* .root {
  flex: 1;
}

.nav__title {
  flex: 1;
}

.nav__logo,
.nav__linkTitle {
  color: #424242;
  padding: 0 0.4rem;
}

.nav_links,
.nav_links:active {
  text-decoration: none;
}

.nav__linkTitle:hover {
  padding: 0.4rem;
  background-color: rgba(66, 66, 66, 0.1);
  border-radius: 5px;
}
/* 
.appBar: {
  zIndex: theme.zIndex.drawer + 1,
  transition: theme.transitions.create(['width', 'margin'], {
    easing: theme.transitions.easing.sharp,
    duration: theme.transitions.duration.leavingScreen,
  }),
},

.appBarShift: {
  marginLeft: drawerWidth,
  width: `calc(100% - ${drawerWidth}px)`,
  transition: theme.transitions.create(['width', 'margin'], {
    easing: theme.transitions.easing.sharp,
    duration: theme.transitions.duration.enteringScreen,
  }),
},
menuButton: {
  marginLeft: 12,
  marginRight: 36,
},
hide: {
  display: 'none',
},
drawer: {
  width: drawerWidth,
  flexShrink: 0,
  whiteSpace: 'nowrap',
},
drawerOpen: {
  width: drawerWidth,
  transition: theme.transitions.create('width', {
    easing: theme.transitions.easing.sharp,
    duration: theme.transitions.duration.enteringScreen,
  }),
},
drawerClose: {
  transition: theme.transitions.create('width', {
    easing: theme.transitions.easing.sharp,
    duration: theme.transitions.duration.leavingScreen,
  }),
  overflowX: 'hidden',
  width: theme.spacing.unit * 7 + 1,
  [theme.breakpoints.up('sm')]: {
    width: theme.spacing.unit * 9 + 1,
  },
},
toolbar: {
  display: 'flex',
  alignItems: 'center',
  justifyContent: 'flex-end',
  padding: '0 8px',
  ...theme.mixins.toolbar,
},
content: {
  flexGrow: 1,
  padding: theme.spacing.unit * 3,
},
}); */ */
